<a (mouseover)="setHover(true)" (mouseleave)="setHover(false)">
  <div class="flex items-center space-x-4 rtl:space-x-reverse hover:bg-slate-300 dark:hover:bg-zinc-600 py-1.5">
    <div class="flex-shrink-0">
      <img class="w-8 h-8 dark:invert" src="/assets/img/file-entry/file-entry.png">
    </div>
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium truncate text-gray-500 dark:text-white">
        {{ file?.name }}
      </p>
      <p class="text-sm truncate text-gray-400 dark:text-gray-300">
        {{ file?.lastChangedAt?.toLocaleDateString() }}
      </p>
    </div>
    @if (isHovered) {
      <div class="inline-flex items-center text-base font-semibold text-gray-400 space-x-1.5 pr-5">
        <a [routerLink]="['/files/view', this.file?.name]" class="text-gray-500 dark:text-white cursor-pointer">View</a>
        <a class="text-gray-500 cursor-default"> | </a>
        <a [routerLink]="" (click)="onDelete()" class="text-red-500 cursor-pointer">Delete</a>
      </div>
    }
  </div>
</a>